@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --black: #1b1c20;
  --white: #ffffff;
  --orange: #ff6109;
  --blue: #4f4fb9;
}
::selection {
  color: var(--white);
  background: var(--black);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.position {
  margin: 20px 100px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
.nav-bar .logo {
  display: flex;
  align-items: center;
  font-family: "Abel", sans-serif;
}
.nav-bar .logo img,
footer .container-box img {
  width: 60px;
  height: 60px;
}
.nav-bar .logo img:nth-child(2) {
  margin-left: 25px;
}
.nav-bar .logo h1 {
  color: var(--orange);
  font-size: 23px;
  font-weight: 400;
  padding-left: 25px;
}
.nav-bar nav ul,
.nav-bar nav ul li a {
  display: flex;
  column-gap: 25px;
  color: var(--black);
  font-size: 17px;
}
.nav-bar nav ul li a:hover {
  color: var(--blue);
  transform: scale(1.1);
}
.nav-bar .btn {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.nav-bar .btn a {
  font-size: 14px;
  color: var(--black);
}
.nav-bar .btn button,
.nav-bar .btn button a {
  padding: 10px;
  font-size: 14px;
  background: var(--blue);
  color: var(--white);
  border-radius: 10px;
}
.first-partie {
  display: flex;
  align-items: center;
  column-gap: 9em;
  padding: 40px 0 20px 0;
}
.first-partie .container {
  font-family: "Abel", sans-serif;
  width: 400px;
}
.first-partie .container h1 {
  font-weight: 400;
  font-size: 37px;
  color: var(--black);
  padding-bottom: 15px;
}
.first-partie .container p {
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #383a47;
  padding-bottom: 15px;
}
.first-partie .container button,
.container button a {
  padding: 10px;
  font-size: 14px;
  background: var(--blue);
  color: var(--white);
  border-radius: 10px;
}

.first-partie .container button a .fa-arrow-right {
  padding-left: 5px;
  color: var(--orange);
  font-size: 12px;
}
.first-partie .container .groups {
  padding-top: 85px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}
.first-partie .container .groups .container-avatars {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.first-partie
  .container
  .groups
  .container-avatars
  .avatars
  img:not(:first-child) {
  margin-left: -1.5rem;
}
.first-partie .container .groups .container-avatars .avatars img {
  width: 50px;
  height: 50px;
  border-radius: 8rem;
}
.para {
  padding-top: 10px;
}
.para p:nth-child(1),
.para p:nth-child(3) {
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 17px;
  color: var(--black);
}
.first-partie .container .groups .container-avatars .para p:nth-child(2) {
  color: #383a47;
  font-weight: 400;
  font-size: 14px;
}
.para .fa-star,
.para .fa-star {
  color: #ffc947;
}
.first-partie .container .groups span {
  border: 1px solid var(--black);
  height: 35px;
  background: var(--black);
  margin-top: 15px;
}
.first-partie .img img {
  width: 550px;
  height: 400px;
}
.second-partie {
  padding: 30px 0;
  font-weight: 400;
  font-family: "Abel", sans-serif;
}
.second-partie h1 {
  text-align: center;
  font-size: 25px;
  color: var(--black);
  padding-bottom: 35px;
}
.second-partie .groups,
.second-partie .groups .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.second-partie .groups .box img {
  width: 50px;
  height: 50px;
}
.groups .box .para {
  margin-left: 20px;
  width: 200px;
}
.groups .box .para h3 {
  font-size: 17px;
  color: var(--black);
  padding-bottom: 5px;
}
.groups .box .para p {
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.groups .box .para p span {
  color: var(--blue);
  font-weight: 700;
}
.thirt-partie{
  padding: 55px 0;
  display: flex;
  column-gap: 10em;
}
.thirt-partie img {
  width: 180px;
}
.thirt-partie .container-box h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Abel", sans-serif;
  color: var(--black);
  width: 350px;
  padding-bottom: 25px;
}
.thirt-partie .container-box p {
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  width: 450px;
  line-height: 19px;
}
.thirt-partie .container-box .groups {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  width: 700px;
  column-gap: 4em;
  row-gap: 2em;
}
.thirt-partie .container-box .groups .box {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
}
.thirt-partie .container-box .groups .box .para p,
.thirt-partie .container-box .groups .box .para {
  width: 200px;
  margin-left: 0;
}
.thirt-partie .container-box .groups .box > span {
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 23px;
  background: #b5b5c4;
  color: var(--white);
}
.thirt-partie .container-box .groups .box:nth-child(1) > span {
  padding: 10px 17px;
}
.thirt-partie:nth-child(5) > img,
.thirt-partie:nth-child(5) {
  width: 370px;
  column-gap: 2em;
}
.vos-events{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  background: #4F4FB9;
}

.vos-events .container{
  display: flex;
  align-items: center;
}
.vos-events .container .box{
  width: 350px;
}
.vos-events .container .box h1{
  font-weight: 400;
  font-family: "Abel", sans-serif;
  font-size: 28px;
  line-height: 33px;
  color: var(--white);
  padding-bottom: 12px;
}
.vos-events .container .box h1 > span{
  color: var(--orange);
}
.vos-events .container .box p{
  font-size: 13px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: var(--white);
}
footer{
  font-family: "DM Sans", sans-serif;
  padding: 40px 0 10px 0;
}
footer .container-box,
footer .container-box .para,
footer .container-box nav ul{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 20px;
}
footer .container-box .para,
footer .container-box nav ul,
footer .copyright .para{
  column-gap: 15px;

}
footer .container-box nav ul a:hover{
  color: var(--blue);
  font-size: 20px;
}
footer .container-box .para p,
footer .copyright .para p,
footer .copyright p{
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}
footer .border{
  border-bottom: 1.4px dashed #D4D4D8;
}
footer .copyright,
footer .copyright .para{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 10px;
}